.singerNav {
    text-align: center;
    background-color: #3997f1;
    margin: auto;
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 25%;
}

  @media screen and (max-width: 640px) {
    nav .brand-logo{
      width: 100%;
      text-align: center;
      font-size: 1.375rem;
      position: absolute;
    }
    nav{
      width: 100%;
    }
  } 
